{%extends 'basic_app/base.html'%}
{%block body_block%}
{%load static%}
<div class="parallax" style="background-image: url({% static 'wood.jpg' %});">
        <br>
<br>
<br>
<br>
<br>

    <form method="POST" enctype="multipart/form-data" class="d-flex justify-content-center">

    {%csrf_token%}
    <div class="jumbotron ">
           <h1 class="d-flex justify-content-center">
        {%if not form.instance.pk%}
        Create New Apartment
        {%else%}
        Edit Apartment
        {%endif%}
    </h1>
    {{form.as_p}}
        <div class="d-flex justify-content-end"><input type="submit" class="btn btn-success" value="Submit"></div>
    </div>

</form>
</div>
{%endblock%}