<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

<!--  &lt;!&ndash; Favicons &ndash;&gt;-->
<!--  <link href="{%static "logo.jpg" %}" rel="icon">-->
<!--  <link href="/media/img/apple-touch-icon.png" rel="apple-touch-icon">-->

<!--  &lt;!&ndash; Google Fonts &ndash;&gt;-->
<!--  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">-->

  <!-- Vendor CSS Files -->
<!--  <link href="/media/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
<!--  <link href="/media/vendor/icofont/icofont.min.css" rel="stylesheet">-->
<!--  <link href="/media/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">-->
<!--  <link href="/media/vendor/venobox/venobox.css" rel="stylesheet">-->
<!--  <link href="/media/vendor/remixicon/remixicon.css" rel="stylesheet">-->
<!--  <link href="/media/vendor/owl.carousel//media/owl.carousel.min.css" rel="stylesheet">-->
<!--  <link href="/media/vendor/aos/aos.css" rel="stylesheet">-->

<!--  <link href="/media/css/style.css" rel="stylesheet">-->
<!--  -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,600,600i,700,700i|Satisfy|Comic+Neue:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{%static "assets/vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/icofont/icofont.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/boxicons/css/boxicons.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/animate.css/animate.min.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/venobox/venobox.css"%}" rel="stylesheet">
  <link href="{%static "assets/vendor/owl.carousel/assets/owl.carousel.min.css"%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{%static "assets/css/style.css"%}" rel="stylesheet">

  <style>
#flash {
  width: 100px;
  height: 100px;
  color: red;
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 150;
  animation-direction: alternate;
}

@keyframes example {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  75%  {color:green;}
  100% {color:red;}
}

.parallax {
  /* The image used */
  background-image: url("img_parallax.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


</style>


</head>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container text-right">
      <i class="icofont-phone"></i> +92 333 7777703
      <i class="icofont-email "></i> hasanfmradio@gmail.com
      <i class="icofont-location-pin "></i> Office No. 31, 2nd Floor, Al Hameed Plaza, G-11 Markaz, Islamabad
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html"><span>LakeWay Cottages</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index2.html">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>

          <li class="book-a-table text-center"><a href="#book-a-table">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

    {%block body_block%}
    {%endblock%}

 <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>LakeWay Cottages</h3>
      <p>THE BEST INVESTMENT ON EARTH IS EARTH,
INVEST & LIVE IN NATURE
</p>

      <div class="copyright">
        &copy; Copyright <strong><span>LakeWay</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
        Designed by <a href="http://datatines.pythonanywhere.com/">DATA-TINES</a>
      </div>
    </div>
  </footer><!-- End Footer -->

<!--<script src="/media/vendor/jquery/jquery.min.js"></script>-->
<!--  <script src="/media/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--  <script src="/media/vendor/jquery.easing/jquery.easing.min.js"></script>-->
<!--  <script src="/media/vendor/php-email-form/validate.js"></script>-->
<!--  <script src="/media/vendor/waypoints/jquery.waypoints.min.js"></script>-->
<!--  <script src="/media/vendor/counterup/counterup.min.js"></script>-->
<!--  <script src="/media/vendor/venobox/venobox.min.js"></script>-->
<!--  <script src="/media/vendor/owl.carousel/owl.carousel.min.js"></script>-->
<!--  <script src="/media/vendor/isotope-layout/isotope.pkgd.min.js"></script>-->
<!--  <script src="/media/vendor/aos/aos.js"></script>-->

<!--  &lt;!&ndash; Template Main JS File &ndash;&gt;-->
<!--  <script src="/media/js/main.js"></script>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->

  <script src="{%static "assets/vendor/jquery/jquery.min.js"%}"></script>
  <script src="{%static "assets/vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>
  <script src="{%static "assets/vendor/jquery.easing/jquery.easing.min.js"%}"></script>
  <script src="{%static "assets/vendor/php-email-form/validate.js"%}"></script>
  <script src="{%static "assets/vendor/jquery-sticky/jquery.sticky.js"%}"></script>
  <script src="{%static "assets/vendor/isotope-layout/isotope.pkgd.min.js"%}"></script>
  <script src="{%static "assets/vendor/venobox/venobox.min.js"%}"></script>
  <script src="{%static "assets/vendor/owl.carousel/owl.carousel.min.js"%}"></script>

  <!-- Template Main JS File -->
  <script src="{%static "assets/js/main.js"%}"></script>
</body>
</html>